.title {
  color: #fff;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}

.event-body {
  padding-left: 8vw;
  padding-right: 8vw;
}

.event-buttons {
  display: flex;
}

.grey-button {
  background-color: rgba(255, 255, 255, 0.17);
  padding: 5px 10px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.grey-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.grey-button-active {
  background-color: #c4c4c4;
  color: #000000;
}

.event-cards {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}

.event-card {
  background-color: #c4c4c4;
  width: 85vw;
  border-radius: 5px;
  display: flex;
}

.event-card-title {
  margin-bottom: 10px;
}

.event-card-image {
  width: 16vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.event-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  min-height: 225px;
}

.event-card-title-id {
  color: #333333;
}

.event-card-registerbutton {
  background-color: #5865f2;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  align-self: flex-end;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
