.gallery-h1 {
    color: #FFF;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Photos {
    display: flex;
    justify-content: center;
}
  
.Photos--container {
    width: 100vw;
    max-width: 1400px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    text-align: start;
    font-weight: 200;
    margin-bottom: 40px;
}

.Photos--bucket{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    grid-row-gap: auto;
}

.Photos--bucket img {
    margin-top: 40px;
}

@media screen and (max-width: 1640px) {
    .Photos--bucket{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1220px) {
    .Photos--bucket{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 880px) {
    .Photos--bucket img {
        margin-top: 10px;
    }
    .Photos--bucket{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 798px) {
    .Photos--bucket img {
        margin: 0px;
    }
    .Photos--bucket{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 764px) {
    .Photos--bucket{
        grid-template-columns: auto;
    }
    .Photos--bucket img {
        margin-bottom: 30px;
    }
}